@font-face {
    font-family: "Inter";
    src: url("../../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
        format("truetype");
    font-display: swap;
    font-weight: 400, 600, 700;
}

$font-weight: (
    "normal": 400,
    "bold": 600,
    "bolder": 700,
);

$font-size: 14px;

$font-family: "Inter", sans-serif;
